<template>
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center">{{ title }}</h1>
  </div>
</template>

<script>
export default {
  props: {
    title: String
  }
}
</script>

<style scoped>
div {
  width: 100%;
  height: 600px;
  background-image: url('~assets/images/title-bkgd.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  width: 50%;
  font-size: 4rem;
}
</style>
