<template>
  <div class="card" style="width: 18rem;">
    <nuxt-link :to="link">
      <img class="card-img-top" :src="img" alt="Card image cap" />
      <div class="card-body">
        <slot name="title">
          <h3>Default text</h3>
        </slot>

        <!-- <h3>{{ title }}</h3> -->
        <p class="card-text">
          <slot name="body">CHANGE TO SLOTS</slot>
        </p>

        <!-- <p class="card-text">{{ body }} CHANGE TO SLOTS</p> -->
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    body: String,
    img: {
      type: String,
      default: 'http://placekitten.com/150/150'
    },
    link: String
  }
}
</script>

<style>
</style>
