<template>
  <div>
    <bootstrap-alerts title="Bootstrap Alerts" />
    <bootstrap-carousel title="Bootstrap Carousel NOTWORKING" />
    <bootstrap-collapse title="Bootstrap Collapse NOTWORKING" />

    <bootstrap-inputgroup title="Bootstrap inputgroups" />

    <bootstrap-jumbotron title="Bootstrap Jumbotron" />
    <bootstrap-modal title="Bootstrap Modal" />
    <bootstrap-tooltips title="Bootstrap Tooltips" />
  </div>
</template>

<script>
import BootstrapAlerts from '~/components/bootstrap-default/BootstrapAlerts'
import BootstrapCarousel from '~/components/bootstrap-default/BootstrapCarousel'
import BootstrapCollapse from '~/components/bootstrap-default/BootstrapCollapse'

import BootstrapInputgroup from '~/components/bootstrap-default/BootstrapInputgroup'
import BootstrapJumbotron from '~/components/bootstrap-default/BootstrapJumbotron'
import BootstrapModal from '~/components/bootstrap-default/BootstrapModal'
import BootstrapTooltips from '~/components/bootstrap-default/BootstrapTooltips'

export default {
  components: {
    BootstrapAlerts,
    BootstrapCarousel,
    BootstrapCollapse,
    BootstrapInputgroup,
    BootstrapJumbotron,
    BootstrapModal,
    BootstrapTooltips
  }
}
</script>

<style>
</style>
