<template>
  <div class="container h-100">
    <grand-header title="BootStrap UX Library" />

    <div class="row align-items-center h-100">
      <div class="col-12 mx-auto">
        <div class="jumbotron text-center">
          <!-- <h1 class="display-4">nuxt-bootstrap-boilerplate</h1>
          <p class="lead">Nuxt.js project + Bootstrap CSS Framework</p>-->
          <p class="lead">
            <a
              href="https://getbootstrap.com/"
              role="button"
              target="_blank"
              class="btn btn-primary btn-lg"
            >Bootstrap Documentation</a>
            <a
              href="https://github.com/twbs/bootstrap"
              role="button"
              target="_blank"
              class="btn btn-primary btn-lg"
            >Bootstrap GitHub</a>
          </p>
          <p class="lead">
            <a
              href="https://nuxtjs.org/"
              role="button"
              target="_blank"
              class="btn btn-success btn-lg"
            >Nuxt.js Documentation</a>
            <a
              href="https://github.com/nuxt/nuxt.js"
              role="button"
              target="_blank"
              class="btn btn-success btn-lg"
            >Nuxt.js GitHub</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <card link="bootstrap-defaults">
          <template #title>
            <h3>Bootstrap Defaults</h3>
          </template>

          <template #body>
            <p>This contains a bunch of default bootstrap elements that might be useful for picking and choosin'.</p>
          </template>
        </card>
      </div>

      <div class="col-4">
        <card link="#">
          <template #title>
            <h3>Custom Dudes</h3>
          </template>

          <template #body>
            <p>I'm a bunch of custom dudes.</p>
          </template>
        </card>
      </div>

      <div class="col-4">
        <card link="#">
          <template #title>
            <h3>I'm a title</h3>
          </template>

          <template #body>
            <p>I'm a body</p>
          </template>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import Card from '~/components/Card.vue'
import GrandHeader from '~/components/rk-stuff/GrandHeader.vue'

export default {
  components: {
    GrandHeader,
    Logo,
    Card
  }
}
</script>

<style>
a {
  color: blue;
}

#__layout {
  height: 100vh;
}
.jumbotron {
  background-color: #fff;
}
</style>
